.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    max-width: calc(345px * 2 + 3 * 2);
}

.cardContainer>Card {
    width: 345px;
    margin: 10px;
}

.cardContainer .cardItem {
    width: 345px;
    margin: 10px;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 16px;
    outline: none;
}