* {
  padding: 0px;
  margin: 0px;
  /* overflow-x: hidden; */
}

body {
  background-image: url("./img/Flor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  scrollbar-width: thin; 
  scrollbar-color: #09C transparent; 
}


elemento::-webkit-scrollbar-track {
  background-color: transparent; 
}

elemento::-webkit-scrollbar-thumb {
  background-color: #09C; 
}

elemento::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #09C;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
