.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerElements {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5rem;
  border-radius: 5px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

