.container {
  width: 100%;
  min-width: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerElements {
  background-color: rgba(13, 13, 255, 0.1);
  padding: 5rem;
  border-radius: 5px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

